
<div class="heading">
    <h1>About Me</h1>
</div>
<div class="container">
    <div class="row">
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <h1 style="padding-left:30px">Introduction</h1>
                    <span class="card-body"><p>Hello and welcome to my profile. I hope you're doing well!</p>
                        <p>I'm <strong>Shaik Firdose</strong> from Rayachoty, Andhra Pradesh. I hold a Bachelor's Degree
                          from <strong>Sree Vidyanikethan Engineering College, Tirupathi.</strong></p>
                        <p>I'm passionate about coding and enjoy solving problems on platforms like HackerRank and LeetCode.</p>
                        <p>My hobbies are playing cricket, volleyball, and shuttle.</p>
                        <p>My core competencies includes focus, hard working, passion for my work, effective communication,
                          problem-solving skills, and teamwork.</p></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card image1">
                    <img class="image" src="assets/Images/portfolio.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <div class="card image1" >
                <img class="image1" src="assets/Images/pic.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div>
                    <span class="exp">👤Experience</span>
                    
                    <br>
                    <span class="designation">Associate Engineer-Technology</span>
                </div>
                <div style="padding-top: 20px;">
                    <span>I have 1 year plus working experience in Virtusa as Associate Engineer. Worked as Java Backend Developer in Banking application.
                         Build features like payment deposit and withdraw functionality.Passion in building backend application
                        .I worked on various technologies like Core Java, Java features, MultiThreading, MySQL, Springboot, Hibernate, Spring Restful Webservices
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>