<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div style="background: rgb(0, 0, 128);background-size: cover;max-width:100%;height: 300px;margin-top: 0px;">
    <div class="header">
        <h1 style="color: white;">Get in touch</h1>
        <i>-with ultimate full stack developer</i>
    </div>
    <div>
        <div class="row" style="justify-content: space-between;">
        <div class="col-md-12">
            <div class="card">
                <div style="display: flex;">
                    <div style="width:600px">
                        <h1 style="font-weight: bolder;padding-left: 25px;">Contact</h1>
                        <div class="p">
                            <p style="margin-top:10px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias natus ex animi nostrum, delectus doloribus error quis autem, perspiciatis nobis quisquam obcaecati sed facilis sapiente eligendi perferendis atque numquam qui nesciunt vero corporis ad harum voluptate maxime! Amet minima sit alias et sint ullam maiores fugit possimus optio, vitae ipsam!</p>
                        </div>
                        <div class="details">
                            <div class="ic">
                                <span id="boot-icon" class="bi bi-headset" style="font-size: 20px; color: rgb(128, 0, 128);"></span>
                                <span class="info">+917702004743</span>
                            </div>
                            <div class="ic">
                                <span id="boot-icon" class="bi bi-geo-alt-fill" style="font-size: 20px ; color: rgb(84, 84, 84);"></span>
                                <span class="info">Pune, EON Park</span>
                            </div>
                            <div class="ic">
                                <span id="boot-icon" class="bi bi-linkedin" style="font-size: 20px; color: rgb(0, 0, 128);"></span>
                                <span class="info">Linkedin</span>
                            </div>
                        </div>
                     </div>
                    <div class="color-div">
                        <h5 class="text-default">Contact Information</h5>
                        <div class="email">
                            <div>
                                <div class="icon1">
                                    <span id="boot-icon" class="bi bi-envelope"></span><br>
                                </div>
                                <div>
                                    <span style="margin-left: 5px;">shaikfirdose6652@gmail.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="icon2">
                                <span id="boot-icon" class="bi bi-headset" ></span>
                            </div>
                            <div class="icon3">
                                <span id="boot-icon" class="bi bi-geo-alt-fill"></span>
                            </div>
                            <div class="icon4">
                                <span id="boot-icon" class="bi bi-linkedin"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>