<div >
    <h3 class="an-2">Welcome to my website!</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card" class="card-border">
                <strong>
                <h1>Hi,</h1>
                <h1>I am <span class="text-primary">Firdose</span></h1>
                <br>
                <h1 class="role">Full Stack Developer</h1>
            </strong>
            <br>
            <button class="btn btn-primary" (click)="onContact()">Contact</button>
            </div>
            
        </div>
        <div class="col-md-5">
            <div class="card"  class="card-border">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX-OHjgoug8wYSd9-Cs0FnGMMaJ9Q3Uhu4ig&usqp=CAU" alt="Image">
            </div>
        </div>
    </div>
</div>