.container{
    padding-top: 100px;
}
.card-border{
    border-color: white;
    padding-left: 100px;
}
h1{
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

a:hover{
    color: #aa00ff;
}
img{
    border-radius: 150px;
    height: 300px;
    width: 350px;
}
.btn{
    width: 120px;
    border-radius: 18px;
}
.role{
    font-size: 40px;
}

.an-2 {
    font-family: Oswald;
    font-size: 100px;
     animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
    text-shadow: 10px 10px #F0F0F0;
    margin-left: 50px;
}